<configuration>
    <property name="TALOS_LOG_DIR" value="${user.home}/.talos/logs"/>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${TALOS_LOG_DIR}/talos.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.apache.lucene" level="WARN"/>
    <logger name="dev.talos" level="WARN"/>

    <root level="WARN">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDERR"/>
    </root>
</configuration>
